body
{
	background-image: url(https://tse4.mm.bing.net/th?id=OIP.Zp8-F1uLSRQXNMIEU58Y_wHaE8&pid=Api&P=0&w=233&h=156);
	background-attachment: cover;
	text-align: center;
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
h1{
	font-family: 'Yeon Sung', cursive;
}